@charset "utf-8";
@font-face {
    font-family: TheRedlightFree;
    src: url(fuentes/TheRedlightFree.otf);
}
@font-face {
    font-family: Roboto;
    src: url(fuentes/Roboto-Regular.ttf);
}
@font-face{
	font-family: Tahu;
	src: url(fuentes/Tahu.ttf);
}

/* CSS Document */

html{
	height: 100%;
	color-scheme: dark;
}

body{
	margin: 0 auto;
	display: block;
	height: 100%;
	background-color: rgb(21, 32, 43);
	color: rgb(247, 249, 249);
	font-family: Roboto;
	overflow: hidden;
	scrollbar-color: rgb(92, 110, 126) rgb(30, 39, 50);
}

.default-text{
	color: rgb(139, 152, 165);
}

.white-text{
	color:rgb(247, 249, 249);
}

.container{
	
	position: relative;
	box-sizing: border-box;
	height: 100%;
	float: left; 
	display: inline-block;
}

.content{
	top: 0px;
	height: 100%;
	padding: 20px 10%
	
}

.left{
	/*background-color: rgb(210, 32, 43, 0.1);*/
	width: 20%;	
}


.main{
	/*background-color: rgb(21, 302, 43, 0.1);*/
	width: 60%;
	border-left: 1px solid rgb(56, 68, 77);
	border-right: 1px solid rgb(56, 68, 77);
	overflow-y: auto;
	overflow-x: inherit;
}

.right{
	/*background-color: rgb(21, 32, 243, 0.1);*/
	width: 20%;
}

header{
	font-family: TheRedlightFree;
	text-align: center;
	background-color: #333333;
	color:white;
	padding: 5px;
	font-size: 35px;
	letter-spacing: 5px;
}

header h1{
	cursor: pointer;
}

h2{
	text-align: left;
	margin: 0 auto;
	font-family: Tahu;
	font-size: 40pt;
}

tr{
	width: 100%;
	display: flex;
	padding: 5px 0;
}

th, td{
	width: 100%;
	align-self:center;
	padding-left: 10px;
}

.menu_icon{
	color: rgba(247,249,249,1.00);
	fill: currentcolor;
	align-self: center;
	width:12%;
}

.menu_button{
	padding: 0 1.5em;
    /*border: 1px solid #333333;*/
    border-radius: 9999px;
    display: flex;
    width: 80%;
	text-decoration:none;
}

.menu_text{
	padding-right: 10px;
    /* font-size: larger; */
    color: rgb(247, 249, 249);
    font-family: Roboto;
    font-weight: normal;
    align-self: center;
    padding-left: 20px;
	
}

.commit_button{
	width: 100%;
	min-width: 52px;
	min-height: 52px;
	font-family: Roboto;
	font-weight: bold;
	padding: 32px;
	color:white;
	font-size: larger;
	background-color: rgb(29, 155, 240);
	padding: 8px;
	/*border: 1px;*/
	border-color: rgba(0, 0, 0, 0);
	border-radius: 9999px;
	transition: background-color 0.5s, color 0.5s;
}

button{
	background-color: rgb(247, 249, 249);
	color:rgb(21, 32, 43);
	transition: background-color 0.2s, color 0.2s, background-image 0.2s;
}

button.nav{
	background-color: #333333;
	border: none;
	padding: 16px;
	color:white;
}

button:hover{
	cursor: pointer;
	background-color: #000000;
	color: white;
}

.menu_button:hover{
	background-color: rgba(247, 249, 249, 0.1);
	color: white;
	text-decoration: none;
}

a{
	color: rgb(29, 155, 240);
	text-decoration: none;
}

a:hover{
	cursor: pointer;
	text-decoration: underline;
}

svg{
    fill: currentcolor;
    align-self: center;
}

.verified{
	max-width: 35px; 
	color: rgb(29, 155, 240);
	padding-left: 5px;
}

.icon{
	padding: 0 1px;
	max-width: 20px;
	vertical-align: bottom;
}

.nav{
	margin-left: 20px;
	margin-right: 20px;
}

footer{
	background-color: #333333;
	color: white;
	text-align: center;
	padding:10px;
	margin-top: 0px;
}

@media only screen and (max-width: 768px){
	.left{ display: none; }
	.right{ display: none; }
	.main { width: 100%; }
}