@charset "utf-8";
/* CSS Document */


.post_block
{
	display: block;
}

.post_block:hover
{
	background-color: inherit;
	cursor: inherit;
}

.post_right_block
{
	padding: 0 2em;
    max-width: 95%;
}

.footer_post
{
	padding: 0;
}

@media only screen and (max-width: 768px){
	.post_right_block{	padding: 0 1em; width:90%; }