@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: TheRedlightFree;
    src: url(fuentes/TheRedlightFree.otf);
}
/*
@font-face {
    font-family: Roboto;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
}*/
@font-face{
	font-family: Tahu;
	src: url(fuentes/Tahu.ttf);
}

@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Light.3a18e64a.woff2) format('woff2'), url(https://abs.twimg.com/responsive-web/client-web/Chirp-Light.7a5673aa.woff) format('woff');
  font-weight: 300;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Regular.80fda27a.woff2) format('woff2'), url(https://abs.twimg.com/responsive-web/client-web/Chirp-Regular.60b215ba.woff) format('woff');
  font-weight: 400;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Medium.f8e2739a.woff2) format('woff2'), url(https://abs.twimg.com/responsive-web/client-web/Chirp-Medium.20fc288a.woff) format('woff');
  font-weight: 500;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Bold.ebb56aba.woff2) format('woff2'), url(https://abs.twimg.com/responsive-web/client-web/Chirp-Bold.a573679a.woff) format('woff');
  font-weight: 700;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Heavy.f44ae4ea.woff2) format('woff2'), url(https://abs.twimg.com/responsive-web/client-web/Chirp-Heavy.d70ec7ca.woff) format('woff');
  font-weight: 800;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirpExtendedHeavy;
  src: url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff2) format('woff2'), url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff) format('woff');
  font-weight: 800;
  font-style: 'normal';
  font-display: 'swap';
}

/* CSS Document */

html{
	height: 100%;
	color-scheme: dark;
}

body{
	margin: 0 auto;
	display: block;
	height: 100%;
	background-color: rgb(21, 32, 43);
	color: rgb(247, 249, 249);
	font-family: Roboto, TwitterChirp, Helvetica, Arial, sans-serif;
	overflow: hidden;
	scrollbar-color: rgb(92, 110, 126) rgb(30, 39, 50);
}

.default-text{
	color: rgb(139, 152, 165);
}

.white-text{
	color:rgb(247, 249, 249);
}

spoiler
{
	color:rgb(247, 249, 249);
	background-color: rgb(247, 249, 249);
	cursor: pointer;
}

spoiler:hover
{
	background-color: rgb(247, 249, 249, 0);
}

.container{
	
	position: relative;
	box-sizing: border-box;
	height: 100%;
	float: left; 
	display: inline-block;
}

.content{
	top: 0px;
	height: 100%;
	padding: 20px 10%
	
}

.left{
	/*background-color: rgb(210, 32, 43, 0.1);*/
	width: 20%;	
}


.main{
	/*background-color: rgb(21, 302, 43, 0.1);*/
	width: 60%;
	border-left: 1px solid rgb(56, 68, 77);
	border-right: 1px solid rgb(56, 68, 77);
	overflow-y: auto;
	overflow-x: inherit;
}

.right{
	/*background-color: rgb(21, 32, 243, 0.1);*/
	width: 20%;
}

header{
	font-family: TheRedlightFree;
	text-align: center;
	background-color: #333333;
	color:white;
	padding: 5px;
	font-size: 35px;
	letter-spacing: 5px;
}

header h1{
	cursor: pointer;
}

h2{
	text-align: left;
	margin: 0 auto;
	font-family: TwitterChirp;
	font-weight: 800;
}

tr{
	width: 100%;
	display: flex;
	padding: 5px 0;
}

th, td{
	width: 100%;
	align-self:center;
}

.menu_icon{
	color: rgba(247,249,249,1.00);
	fill: currentcolor;
	align-self: center;
	width:12%;
}

.menu_button{
	padding: 0 1.5em;
    /*border: 1px solid #333333;*/
    border-radius: 9999px;
    display: flex;
    width: 80%;
	text-decoration:none;
}

.menu_text{
	padding-right: 10px;
    /* font-size: larger; */
    color: rgb(247, 249, 249);
    font-weight: normal;
    align-self: center;
    padding-left: 20px;
	
}

.commit_button{
	font-weight: bold;
	color:white;
	font-size: larger;
	background-color: rgb(240, 114, 29);
	border-color: rgba(0, 0, 0, 0);
	border-radius: 9999px;
	transition: background-color 0.2s, color 0.2s;
}

.commit_button:hover{
	cursor: pointer;
	background-color: rgb(220, 94, 9);
}

#blorb_menu_button{
	width: 100%;
	min-width: 52px;
	min-height: 52px;
	font-weight: bold;
	font-size: larger;
	padding: 8px;
}

#submit_blorb{
	position:absolute;
	right: 25px;
	padding: 5px;
	min-width:120px;
	font-size:15px;
	font-weight: 600;
}

button{
	background-color: rgb(247, 249, 249);
	color:rgb(21, 32, 43);
	transition: background-color 0.2s, color 0.2s, background-image 0.2s;
}

button.nav{
	background-color: #333333;
	border: none;
	padding: 16px;
	color:white;
}

.menu_button:hover{
	background-color: rgba(247, 249, 249, 0.1);
	color: white;
	text-decoration: none;
}

a{
	color: rgb(240, 114, 29);
	text-decoration: none;
}

a:hover{
	cursor: pointer;
	text-decoration: underline;
}

svg{
    fill: currentcolor;
    align-self: center;
}

.verified{
	max-width: 35px; 
	color: rgb(240, 114, 29);
	padding-left: 5px;
}

.icon{
	padding: 0 1px;
	max-width: 20px;
	vertical-align: bottom;
}

.nav{
	margin-left: 20px;
	margin-right: 20px;
}

.searchbar{
	margin-top: -15px;
	border-radius: 50px;
	border: 0;
	width: 90%;
	min-height: 40px;
	background-color: rgb(39, 51, 64);
	padding-left: 10%;
	margin-bottom: 15px;
	font-size:inherit;
}

.searchbar:focus{
	outline:none;
	border: 1px solid rgb(240, 114, 29) !important;
	background-color: rgba(21,32,43,1.00);
}

footer{
	background-color: #333333;
	color: white;
	text-align: center;
	padding:10px;
	margin-top: 0px;
}


.topbar
{
    backdrop-filter: blur(12px);
    background-color: rgb(21, 32, 43, 0.75);
    top: 0;
    position: sticky;
    padding: 15px;
    height: 30px;
    width: 100%;
	cursor: pointer;
	z-index: 2;
}

.topbar button
{
	background-color: inherit;
	border: none;
	vertical-align: top;
    height: 100%;
    border-radius: 50px;
    display: inline-block;
}

.topbar button:hover
{
	background-color: rgba(247, 249, 249, 0.1);;
}

.topbar svg
{
	vertical-align:bottom;
	color: rgb(239, 243, 244);
	min-width: 20px;
}

.topbar p
{
	font-weight: 600;
    font-size: 1.5em;
    vertical-align: sub;
    width: 80%;
    height: 100%;
    display: inline-block;
    text-align: justify;
    margin: 0;
    margin-left: 4%;
}

.botbar
{
	display: none;
    backdrop-filter: blur(12px);
    background-color: rgb(21, 32, 43, 0.75);
	top: unset;
    bottom: 0;
    position: fixed;
    padding: 5%;
    height: 30px;
    width: 100%;
	cursor: unset;
	z-index: 2;
}

.botbar table{
	width: 90%;
	text-align:center;
}

@keyframes spinner-anim 
{
	0% 
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}

#loading_block{
	text-align: center;
}

.spinner{
	padding:10px;
	height:26px;
	width:26px;
	animation-name: spinner-anim;
	animation-duration: 0.75s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}



@media only screen and (max-width: 768px){
	.left{ display: none; }
	.right{ display: none; }
	.main { width: 100%; }
	.botbar { display: block;}
}