@charset "utf-8";
/* CSS Document */

.imagenes {
	display: none;
	width:100%;
}

.imagenes img {
	vertical-align: middle;
	width:100%;
	height: auto;
}

#profile_bio{
	position: relative;
    font-weight: bold;
    font-size: xx-large;
    left: 30px;
}

#profile_reactions{
	top:5px;
	padding-left: 25%;
    height: 100px;
    position: relative;
    align-items: center;
    display: block;
}

#profile_pic_block{
	background-color: rgb(21, 32, 43);
	border: 5px solid rgb(21, 32, 43);
    border-radius: 250px;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    left: 25px;
    /* border-width: 51px; */
    z-index: 1;
    position: absolute;
}

.profile_img{
	border-radius: inherit;
    position: absolute;
    background-image: url(./media/profile.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.banner{
	width:100%;
	max-height: 200px;
}

.profile_react_row{
	justify-content: center;
	display:flex;
	padding: 5px 0;
}

.reaction_button{
	align-self: flex-start;
    border-radius: 50px;
    display: inline-flex;
    min-width: 150px;
    min-height: 40px;
    border: 0;
	margin: 0 10px;
}

.reaction_button svg{
	width: 35px;
	fill: currentcolor;
}

.reaction_button p{
	padding: 0 10px;
    align-self: center;
    text-align: center;
    vertical-align: middle;
    margin: 0;
	font-size: larger;
    font-weight: bold;
    color: currentcolor;
}

.reaction_button:hover{
	cursor: pointer;
	background-color: rgb(0, 186, 124);
	color: rgb(247, 249, 249);
}


.contenedor_imgs {
  width: 100%;
  position: relative;
  margin: auto;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(144,255,43,0.6);
}

.punto {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#caja-botones{
	margin: 10px 0;
	text-align:center;
}

#info_personal{
	display: inline-block;
	margin-left: 7%;
	margin-right: 7%;
	margin-top: 50px;
}

#info_personal img{
	float:left;
	max-height: 330px;
	margin-right: 50px;
}

.texto{
	background-color: #90FF2B;
	vertical-align: middle;
	text-align: justify;
	font-size: 15px;
	padding: 50px;
	line-height: 22px;
}

.texto h3{
	margin: 0 auto;
	font-size: 23px;
}

.trabajo{
	margin-left: 7%;
	margin-right: 7%;
	margin-top: 60px;
	display: block;
	text-align: center;
}

#media_dest{
	max-width: 640px;
	max-height: 320px;
}


@media (max-width:700px){
	#imagenes img{
		height: 175px;
		width: 250px;
	}
	
	.texto{
		font-size: 11px;
		line-height: 18px;
	}
	
	#info_personal img{
		max-height: 125px;
	}
} 