.reaction_button{
	align-self: flex-start;
    border-radius: 50px;
    display: inline-flex;
    min-width: 150px;
    min-height: 40px;
    border: 1px solid rgba(0,0,0,0);
	margin: 0 10px;
}

.reaction_button svg{
	width: 30px;
    /*fill: currentcolor;
    align-self: center;*/
}

.fillable_form
{
	fill:none;
	stroke: currentcolor;
	stroke-width: 2;
	paint-order: fill;
}

.pressed .fillable_form
{
	fill: currentcolor;
	stroke: none;
}

.reaction_button p{
	padding: 0 10px;
    align-self: center;
    text-align: center;
    vertical-align: middle;
    margin: 0;
	font-size: larger;
    font-weight: bold;
    color: currentcolor;
	font-family: Roboto, TwitterChirp;
}

.pressed{
	background-color: rgb(247, 249, 249);
}

.not-pressed{
	background-color: rgba(247, 249, 249, 0.1);
	border: 1px solid white;
	color: rgb(247, 249, 249);
}


.reaction_button.pressed.red
{
	background-color: rgb(249, 24, 128);/*lightcoral;*/
	color: rgb(247, 249, 249);
}

.reaction_button.pressed.rainbow{
	
	background: linear-gradient(90deg, rgba(180,58,58,1) 0%, rgba(253,252,69,1) 16%, rgba(29,253,29,1) 33%, rgba(29,253,253,1) 49%, rgba(29,29,253,1) 66%, rgba(255,29,253,1) 83%, rgba(255,29,29,1) 100%);
	color: rgb(21, 32, 43);
}

.reaction_button.pressed.blue
{
	background-color: rgb(130,255,255);
	color: rgb(21, 32, 43);
}

.reaction_button.pressed.brown
{
	background-color: lightslategray;
	color: rgb(247, 249, 249);
}

.reaction_button.pressed.yellow
{
	background-color: rgb(255, 230, 50);
	color: rgb(21, 32, 43);
}

.reaction_button.pressed.pink
{
	background-color: rgb(255,200,150);
	color: rgb(21, 32, 43);
}

.footer_post .pressed{
	color: rgb(26, 140, 216);
}

.footer_post .pressed.red{
	color: rgb(249, 24, 128);
}

.footer_post .pressed.green{
	color: rgb(0, 186, 124);
}

.footer_post .pressed.greenb{
	color: rgb(93,238,35);
}

.footer_post .pressed.yellow{
	color: rgb(225, 200, 70);
}

.footer_post .pressed.brown{
	color: rgb(160,82,45);
}

.footer_post .pressed.orange{
	color: rgb(255, 86, 0);
}

.footer_post .pressed.violet{
	color: rgb(106,92,255);
}
.footer_post .pressed.gray{
	color: rgb(0, 0, 0);
}

.footer_post button:hover{
	
	background-color: rgba(26, 140, 216, 0.1);
	color: rgb(26, 140, 216);
}

.footer_post .red:hover{
	background-color: rgba(249, 24, 128, 0.1);
	color: rgb(249, 24, 128);
}

.footer_post .green:hover{
	background-color: rgba(0, 186, 124, 0.1);
	color: rgb(0, 186, 124);
}

.footer_post .greenb:hover{
	background-color: rgba(0, 186, 124, 0.1);
	color: rgb(93,238,35);
}

.footer_post .brown:hover{
	background-color: rgba(160, 82, 45, 0.1);
	color: rgb(160,82,45);
}

.footer_post .orange:hover{
	background-color: rgba(255, 86, 0, 0.1);
	color: rgb(255, 86, 0);
}

.footer_post .violet:hover{
	background-color: rgba(106, 92, 255, 0.1);
	color: rgb(106,92,255);
}

.footer_post .gray:hover{
	background-color: rgba(0, 0, 0, 0.1);
	color: rgb(0, 0, 0);
}

.footer_post .yellow:hover{
	background-color: rgba(225, 200, 70, 0.1);
	color: rgb(225, 200, 70);
}

.footer_post button:hover:after {
  visibility: visible;
  opacity: 1;
  transition: all 0.4s 1s ease;
}

.footer_post button:after { 
  visibility: hidden;
  opacity: 0;
  position: absolute;
  /*top: 50%;*/
  transform: translate(-50%, 25px);
  transition: all 0.4s 0s ease;
  content: attr(aria-label);
  /*width: 100%;*/
  /*left: calc(100% + 8px);*/
  margin-left: -4px;
  padding: 6px;
  background-color: rgba(139, 152, 165, 0.5);
  color: #fff;
  border-radius: 4px;
  font-size: smaller;
}


.reaction_button:hover{
	cursor: pointer;
	background-color: rgb(0, 186, 124);
	color: rgb(247, 249, 249);
}

@media only screen and (max-width: 768px){
	#profile_pic_block{width: 100px; height: 100px; margin-top: 0px; top: 10px}
	#profile_reactions { padding: 0;}
	.reaction_button { min-width: 0px; min-height: 20px; max-height: 20px; }
	.reaction_button p{ font-size: smaller; padding:0 0.5em; }
}